.productContent .productTitle {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.productVideo iframe {
  border-radius: 10px;
}

.line {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 640px) {
  .productContent .productTitle {
    font-size: 25px;
  }
}
